<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="symbol">Symbol</label>
        <input type="text" [(ngModel)]="stock.symbol"
               class="form-control"
               id="symbol"
               name="symbol"
               placeholder="Enter the symbol of the stock"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Symbol is required</div>
      <button type="submit" [disabled]="!form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
